body{
    direction: rtl;
    color: rgb(255, 253, 253); 
    margin: 0px;
}
a{
    color: rgb(224, 224, 233);
    font-size: 20px;
    text-align: center;
    text-decoration:none;
    padding: 30px 30px;
    display: inline-block;
}
a:hover{
    background-color: rgb(6, 7, 22);
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;

}
li{
    float: right;
    background-color: rgba(26, 41, 62, 0.94);

}
#panel{
    padding: 41px 336px;
    background-color: rgba(26, 41, 62, 0.94); 
    display: inline-block;
}
p{
    font-size: 1.5em;
    color: red;
}