:root{
    --shamby:#56a9cf;
}
body{
    direction: rtl;
    background-color: var(--shamby);
    color: rgb(255, 253, 253);
}
a{
    color: rgb(224, 224, 233);
    font-size: 20px;
    text-align: center;
    text-decoration:double;
    padding: 30px 30px;
    display: inline-block;
}
a:hover{
    background-color: rgb(6, 7, 22);
}
ul{
    list-style: none;
    padding: 0px;

}
li{
    float: right;
    background-color: rgba(26, 41, 62, 0.94);

}
#panel{
    padding: 41px 325px;
    background-color: rgba(26, 41, 62, 0.94); 
    float: right;
}